<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "Edit this note", edit_note_path(@note) %> |
  <%= link_to "Back to notes", notes_path %>

  <%= button_to "Destroy this note", @note, method: :delete %>
</div>

<div>invite url: <%= "https://#{request.host_with_port}#{notes_path}?invite=#{Note.create_encrypted_url(current_user.id, @note.id)}" %></div>
