<%= form_with scope: :quiz_game,
							url: local_assigns["url"],
							method: :patch,
							html: { class: "quiz_game_edit_form" },
							data: { client_id: local_assigns["client_id"] }	do |form| %>

  <div class="quiz_game_edit_form_header">
    <%= form.label "Game name:", style: "display: block" %>
    <%= form.text_field :name, {autofocus: true, value: local_assigns["config_params"]["name"]} %>
  </div>

  <div class="quiz_game_edit_form_body">
    <% local_assigns["model_names"].each do |source_name| %>
      <div class="quiz_game_edit_form_item">
        <%= form.radio_button :questions_source, source_name, checked: local_assigns["config_params"]["questions_source"] == source_name || false %>
        <%= form.label "questions_source_#{source_name.split('::').join.downcase}", source_name.split('::').last.gsub('Questions', '').gsub(/([a-z])([A-Z])/, '\1 \2') %>
      </div>
    <% end %>
  </div>

  <div class="quiz_game_edit_form_submit">
    <%= form.submit "Start game" %>
  </div>

<% end %>
