<%= form_with scope: :quiz_game,
							url: local_assigns["url"],
							method: :patch,
							html: { class: "quiz_game_edit_form" },
							data: { client_id: local_assigns["client_id"] }	do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, {autofocus: true, value: local_assigns["config_params"]["name"]} %>
  </div>

  <div>
    <% local_assigns["model_names"].each do |source_name| %>
      <%= form.radio_button :questions_source, source_name, checked: local_assigns["config_params"]["questions_source"] == source_name || false %>
      <%= form.label "questions_source#{source_name}", source_name %>
      <br/>
    <% end %>

  </div>

  <div>
    <%= form.submit "Start game" %>
  </div>

<% end %>
