<%= turbo_stream_from 'quiz_games' %>

<div>
  users: <%= @quiz_game.users.map { |user| user.email }.join(", ") %>
</div>

<%= render @quiz_game %>

<div>
  <%= link_to "Edit this quiz_game", edit_quiz_game_path(@quiz_game) %> |
  <%= link_to "Back to quiz_games", quiz_games_path %>

  <%= button_to "Destroy this quiz_game", @quiz_game, method: :delete %>
</div>

<div>invite url: <%= "https://#{request.host_with_port}#{quiz_games_path}?invite=#{ApplicationRecord.create_encrypted_url(current_user.id, @quiz_game.id)}" %></div>
