
<turbo-frame id="questions">
		<div class="questions" data-controller="clipboard">
		<h2 class="question" data-clipboard-target="source">
			<%= question.question %>
			<button class="clipboard-btn" data-action="clipboard#copy">Copy</button>
		</h2>
		

		<form action=<%= "#{room.room_id}/questions" %> method="post">
			<ol class="list-1">
				<% question.options.each_with_index do |option, index| %>
					<li>
						<input type="checkbox" id=<%= index %> name=<%= index %>>
						<label for=<%= index %>><%= option %></label>
					</li>
				<% end %>
			</ol>
			<button type="submit" class="button-1">Submit</button>
		</form>

		<div class="count_result">
			<div>счет: <%= room.count %> / <%= Object.const_get(room.current_model).count %></div>
			<div>вопрос: <%= room.current_question %></div>
			<div>результат: <%= room.result %></div>
		</div>
	</div>
</turbo-frame>