<%= turbo_stream_from @room.room_id %>

<div class="main">



	<div>
		<turbo-frame id="messages">
			<% @room.messages.each do |message| %>
				<%= render 'messages/message', {message: message} %>
			<% end %>
		</turbo-frame>

		<%= render "rooms/form" %>
	</div>



	<div>

		<h3><%= @question.question %></h3>

		<form action=<%= "#{@room.room_id}/questions" %> method="post">
			<% @question.options.each_with_index do |option, index| %>
					<div>
						<input type="checkbox" id=<%= index %> name=<%= index %>>
						<label for=<%= index %>><%= option %></label>
					</div>
			<% end %>
			<button type="submit">Submit</button>
		</form>

		<div>текущий счет: <%= @room.count %> / <%= Object.const_get(@room.current_model).count %></div>
		<div>результат: <%= @room.result %></div>
		
	</div>



	<div>
		<h2>Room: <%= @room.room_id %></h2>
		<hr>
		<div><%= button_to "Log out", logout_path, method: :delete %></div>
		<hr>
		<div><%= button_to "Home", root_path, method: :get %></div>
	</div>



</div>