<%= turbo_stream_from @room.room_id %>

<div class="main">



	<div>

		<turbo-frame id="messages">
			<% @room.messages.each do |message| %>
				<%= render 'messages/message', {message: message} %>
			<% end %>
		</turbo-frame>

		<%= render "rooms/form" %>
	</div>

	<div class="game">
		<div class="map">
		</div>

		<turbo-frame id="questions">
			<%= render 'rooms/questions', {question: @question, room: @room} %>
		</turbo-frame>

	</div>



	<div>
		<h2>Room: <%= @room.room_id %></h2>
		<hr>
		<div><%= button_to "Log out", logout_path, method: :delete, class: 'button-1' %></div>
		<hr>
		<div><%= button_to "Home", root_path, method: :get, class: 'button-1' %></div>
	</div>



</div>