<%= turbo_stream_from @room.room_id %>

<div class="main">



	<div>
		<turbo-frame id="messages">
			<% @room.messages.each do |message| %>
				<%= render 'messages/message', {message: message} %>
			<% end %>
		</turbo-frame>

		<%= render "rooms/form" %>
	</div>



	<div class="game">
		<div class="map">
		</div>

		<div class="questions">
			<h2 class="question"><%= @question.question %></h2>

			<form action=<%= "#{@room.room_id}/questions" %> method="post">
				<ol class="list-1">
					<% @question.options.each_with_index do |option, index| %>
						<li>
							<input type="checkbox" id=<%= index %> name=<%= index %>>
							<label for=<%= index %>><%= option %></label>
						</li>
					<% end %>
				</ol>
				<button type="submit" class="button-1">Submit</button>
			</form>

			<div class="count_result">
				<div>текущий счет: <%= @room.count %> / <%= Object.const_get(@room.current_model).count %></div>
				<div>результат: <%= @room.result %></div>
			</div>
		</div>
	</div>



	<div>
		<h2>Room: <%= @room.room_id %></h2>
		<hr>
		<div><%= button_to "Log out", logout_path, method: :delete, class: 'button-1' %></div>
		<hr>
		<div><%= button_to "Home", root_path, method: :get, class: 'button-1' %></div>
	</div>



</div>